@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #1e40af;
    --primary-foreground: #ffffff;

    --secondary: #f3f4f6;
    --secondary-foreground: #1f2937;

    --muted: #f3f4f6;
    --muted-foreground: #6b7280;

    --accent: #e0f2fe;
    --accent-foreground: #0284c7;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #1e40af;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;

    --card: #1e293b;
    --card-foreground: #f8fafc;

    --popover: #1e293b;
    --popover-foreground: #f8fafc;

    --primary: #3b82f6;
    --primary-foreground: #ffffff;

    --secondary: #334155;
    --secondary-foreground: #f8fafc;

    --muted: #334155;
    --muted-foreground: #94a3b8;

    --accent: #0284c7;
    --accent-foreground: #f0f9ff;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #334155;
    --input: #334155;
    --ring: #3b82f6;
  }
}
